.ExamApp {
  border: none;
}
.ExamApp-header {
  background: rgb(0, 119, 255);
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ExamApp-container {
  padding: 10px 20px;
}
.ExamApp-title {
  margin: 0;
  color: #fff;
}
.ExamApp-headerbtn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  color: rgb(0, 119, 255);
  text-decoration: none;
  font-weight: 600;
}
.ExamApp-headerbtn:hover {
  background-color: #fff;
  color: rgb(0, 119, 255);
}
.ExamApp-newexambtn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 5px;
  color: #222;
  background-color: rgb(126, 197, 255);
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
